---
---

@import "{{ site.theme }}";
body {
	background: url("../../images/custom_bkg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: justify;
}
